volumes:
  open-webui:

services:
  open-webui-gpu:
    image: ghcr.io/open-webui/open-webui:cuda
    restart: always
    ports:
      - 3000:8080
    extra_hosts:
      host.docker.internal: host-gateway
    volumes:
      - open-webui:/app/backend/data
    deploy:
      resources:
        reservation:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
